/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: changa;
    background-color: #16498a;
}

/*---------------------------------------------*/

.focus-input100 {
    color: aliceblue;
    text-align: end;
}

a {
    height: 50px;
}

a span {
    font-family: changa;
    color: #16498a;
    font-size: 25px;
}

label {
    color: aliceblue;
    font-family: changa;
    text-align: center;
    float: left;
    margin-right: 10px;
}

input[type=checkbox],
input[type=radio] {
    height: 18px;
    width: 18px;
}

.check {
    padding-left: 10%;
}

.radio {
    justify-content: center;
    padding-left: 20%;
}

.note {
    margin-top: 30px;
    text-align: center;

}

a {
    font-family: changa;
    font-size: 14px;
    line-height: 1.7;
    color: aliceblue;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: burlywood;
}

/*---------------------------------------------*/
p {
    font-family: changa;
    font-size: 14px;
    line-height: 2;
    color: aliceblue;
    margin: 0px;
}

/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #adadad;
}

input:-moz-placeholder {
    color: #adadad;
}

input::-moz-placeholder {
    color: #adadad;
}

input:-ms-input-placeholder {
    color: #adadad;
}

textarea::-webkit-input-placeholder {
    color: #adadad;
}

textarea:-moz-placeholder {
    color: #adadad;
}

textarea::-moz-placeholder {
    color: #adadad;
}

textarea:-ms-input-placeholder {
    color: #adadad;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
    width: 100%;
    margin: 0;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: ;
    flex-wrap: wrap;
/*    justify-content:center;*/
/*    align-items:center;*/
    background: #fff;
}

.wrap-login100 {
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
    width: 100%;
}

.login100-form-title {
    display: block;
    line-height: 1.2;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
}

.input100 {
    font-family: changa;
    font-size: 18px;
    color: aliceblue;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 52px;
    background-color: transparent;
    padding: 0px;
    text-align: start;
}

/*---------------------------------------------*/
.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    text-align: right;
}

.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #57b846;
}

.focus-input100::after {
    font-family: changa;
    font-size: 18px;
    color: #999999;
    line-height: 1.2;

    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 15px;
    left: 0px;
    padding-left: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
    top: -20px;
    font-size: 15px;
}

.input100:focus + .focus-input100::before {
    width: 100%;
}

.has-val.input100 + .focus-input100::after {
    top: -20px;
    font-size: 15px;
}

.has-val.input100 + .focus-input100::before {
    width: 100%;
}
