{% load static %}<!DOCTYPE html>
<html lang="en">

<head>
    <title>انجزني</title>
    <!--    bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--    fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Amiri&family=Changa&family=Chilanka&family=Dancing+Script&family=Hepta+Slab&family=Indie+Flower&family=Lexend+Zetta&family=Lobster&family=Modak&family=Open+Sans+Condensed&family=Pacifico&family=Permanent+Marker&family=Satisfy&family=Shadows+Into+Light&family=Tajawal&display=swap" rel="stylesheet">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/forms.css' %}">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!--===============================================================================================-->
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }


    </style>
</head>

<body style="background-color:#16498a; ">

    <div class="limiter row" style="">

        <!--logo-->
        <div class="col-lg-1 col-12 col-md-3"></div>

        <div class="col-lg-5 col-12 col-md-6 row" style="justify-content:center">
            <img class="col-lg-12 col-md-12 col-5" src="{% static '../static/images/Logo.svg' %}" style="display: inline-block">
        </div>

        <div class="col-lg-1 col-12 col-md-3"></div>

        <!--form-->
        <div class="container-login100 col-lg-5 col-12" style="background-color:#16498a;display: inline-block;direction: rtl;">

            <div class="wrap-login100 p-t-5 p-b-0" style="background-color:#16498a;">

                <form class="login100-form validate-form col-12 row" style="justify-content: center;">
                    <span class="login100-form-title col-12" style="text-align: center;font-size: 30px;margin-bottom: 30px;margin-top: 20px">طلب تقديم علي شهادة ميلاد</span>
                    <div class="m-b-20 row container col-12" style="justify-content: flex-start;direction: rtl;">
                        <span style="color: aliceblue ; font-size: 30px; text-align: center;" class="col-12"> بيانات المولود</span>

                        <div class="wrap-input100 validate-input m-b-20 m-t-20 col-5 col-md-5 mo" data-validate="Enter username">
                            <input class="input100" type="text" name="username" aria-describedby="addon-wrapping">
                            <span class="focus-input100" data-placeholder="الاسم"></span>
                        </div>


                        <div class="col-1"></div>
                        <div class="wrap-input100 validate-input m-b-20 m-t-20 col-6 col-md-6 mo" data-validate="Enter username">
                            <input class="input100" type="text" name="username" aria-describedby="addon-wrapping">
                            <span class="focus-input100" data-placeholder="الجنسية"></span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-20 col-12 col-md-12 mo" data-validate="Enter username">
                            <input class="input100" type="text" name="username" aria-describedby="addon-wrapping">
                            <span class="focus-input100" data-placeholder="الديانه"></span>
                        </div>
                        <div class="col-1"></div>
                        <div class="wrap-input100 validate-input m-b-20 col-12 col-md-12 mo" data-validate="Enter username">
                            <input class="input100" type="text" name="username" aria-describedby="addon-wrapping">
                            <span class="focus-input100" data-placeholder="محل الميلاد"></span>
                        </div>
                        <div class="col-1"></div>

                    </div>

                    <span style="color: aliceblue ; font-size: 30px; text-align: center;"> تاريخ الميلاد</span>
                    <div class="m-b-20 row container col-12" style="justify-content: flex-start;direction: rtl;">
                        <div class="wrap-input100 validate-input m-t-5 m-b-15 col-12 col-md-12" data-validate="Enter username">
                            <input class="input100" type="Date" name="username" aria-describedby="addon-wrapping" style="text-align: start;">
                            <span class="focus-input100" data-placeholder=""></span>
                        </div>
                    </div>

                    <div class="col-1"></div>
                    <div class="container-login100-form-btn m-t-20">
                        <a class="btn btn-light col-12" href="Birth2.html">
                            <span>التالي</span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static '../static/js/forms.js' %}"></script>
    <script>
        $(document).ready(function() {
            $("#done").click(function() {
                swal("تم تقديم الطلب بنجاح");

            })


        })

    </script>
</body>

</html>
